
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id='app'>

        <h1 v-text='count'></h1>

        <div>
            <span>单价：</span><input type="text" v-model='price'><br>
            <span>数量：</span><input type="text" v-model='num'><br>
            <h3>总价：<span v-text='total'></span></h3>
        </div>

        <div>
            <span>FirstName:</span><input type="text" v-model='first'>
            <span>LastName:</span><input type="text" v-model='last'>
            <h3>全名：<span v-text='fullname'></span></h3>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        var rate = 0.9

        var app = new Vue({
            el: '#app',
            data: {
                price: 0,
                num: 0,
                first: '',
                last: '',
                count: 0
            },
            // 计算属性：它是依赖于Vue响应式系统，是基于这个缓存系统
            computed: {
                total: function() {
                    var t = this.price * this.num
                    t = rate*t
                    t = t - 6
                    t = t - 10
                    return t
                },
                fullname: function() {
                    return this.first + ' ' + this.last
                }
            },
            // 侦听器（监听器）
            // 监听 data 和 computed 变化
            // 还可以监听 路由 的变化
            watch: {
                total: function(newVal, oldVal) {
                    console.log('total发生了变化', newVal, oldVal)
                    this.count++
                },
                first: function(newVal, oldVal) {
                    console.log('first发生了变化', newVal, oldVal)
                    this.count++
                }
            }
        })
    </script>
    
</body>
</html>