$color: blue;
$size: 100px;

.box {
    border: 1px solid orange;
    padding: 20px;
    &>h1 {
        color: $color;
        font-size: $size;
    }
}

.hehe {
  color: blue;
}

.red {
  color: red;
}
.blue {
  color: blue;
}

.child {
  padding: 20px;
  border: 1px solid #ccc;
}

.language {
  display: flex;
  &>span {
    flex: 1;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  &>span.on {
    color: white;
    background: orange;
  }
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.7);
  .modal {
    width: 450px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
    .modal-top {
      height: 35px;
      line-height: 35px;
      overflow: hidden;
      .mt-close {
        float: right;
        cursor: pointer;
      }
    }
    .modal-mid {
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
    }
    .modal-bot {
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      span {
        float: right;
        margin-left: 10px;
        background-color: rgba(102, 177, 255, 1);
        color: white;
        padding: 0 20px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}

.todo {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 20px;
}
.todo-top {
  line-height: 30px;
  margin-bottom: 10px;
  &>input {
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #eee;
  }
}
.todo-mid {
  padding: 20px;
  border: 1px solid #eee;
  &>div {
    line-height: 35px;
    border-bottom: 1px solid #eee;
    &>span:last-child {
      padding: 0 20px;
      cursor: pointer;
    }
    &>span:nth-child(2) {
      padding: 0 20px;
    }
    &>input {
      border: none;
    }
  }
}
